---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---
<p>Before going into psychology, I had big plans of making it big on Broadway. While this (obviously) did not work out, I got a lot out of my theatre education, which I now get to apply when presenting posters or talks at conferences.</p>
<img src="https://github.com/tobicn/TobiasConstien/blob/master/images/PresentationsPictures.png?raw=true" alt="Poster presentations or talks - sometimes even both">
<p>In my presentations, I try to incorporate as many interactive elements as possible. In the past, this has included inviting conference attendees to scribble their own ideas for my research on my poster, passing out conference bingo-cards, or presenting a list of playful activities.</p>
<p>I was awarded with an award for the <a href="https://tobicn.github.io/TobiasConstien/talks/2026-08-27-playful-minds">Best Talk</a> at the 2026 Lancaster Conference on Infant and Early Child Development, and also won the Best Lightening Talk Award at the 2024 Child Research Network Conference.

  {% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<hr />

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
