---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
The joy of teaching in psychology is that even the most boring theories are grounded, and thus connected to, everyday experiences. In my teaching, I try to highlight these connections and illustrate to students how their own experiences may inform their learning of psychological concepts, and fuel their own research interests.

Consequently, I try to incoroprate as many interactive elements into my teaching as possible. This may include established teaching approaches, like the sandwich method (i.e., alternating between theoretical input and practical application), but can also mean playing Red Light - Green Light, or Tic-Tac-Toe with students (to illustrate play).

To date, I have taught as a lecturer, tutor, or demonstrator at the **Nürtingen-Geislingen University** and the **University College Dublin**. I have taught both at an undergraduate and postgraduate level.
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
